* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #304a6a;
}

li {
  padding: 8px 12px;
  list-style-type: none;
}

body {
  max-width: 1200px;
  margin: auto;
}